body {
    background-color: lightgrey;

}

#beerDrink {
    font-family:'Ubuntu', sans-serif;
    font-size: 4em;
    text-align: center;
}

#beerDrink:hover {
    transform: scale(3.0);
    transition-duration: 1000ms;
}